In [ ]:
import MySQLdb
import pandas as pd

In [ ]:
con = MySQLdb.connect(user="root", passwd="root",
                               host="d2_db", db="mysql", use_unicode=True, charset="utf8mb4")

In [ ]:
df = pd.read_sql("SELECT * FROM d2.tweet", con=con)

In [ ]:
df